<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>HarperDB</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    </head>
    <body>
      <h1>HarperDB</h1>
      <h2>Select an existing table or create a new one</h2>
      <h3 class="schema-name"><%= message %></h3>
  
     this is where ill show everything
    </body>
  </html>
